{% extends 'base.html' %}

{% block content %}
    <div class="jumbo _teal">
        <h3>DMCA Dog</h3>
        <p>A Digital Millennium Copyright Act checker</p>
    </div>

    <div class="row" style="padding-top:50px">
        <div class="col m4" ></div>
        <div class="col m4" style="text-align:center">
            <h4>Is my content safe to stream?</h4>
                <label for="dmcasearch">DMCA Search</label>
                <input class="_width50" type="search" placeholder="Media lookup" id="dmcaquery" name="search">
                <input class="_teal button" type="submit" value="Submit" id="dmcasubmit">
        </div>
        <div class="col m4"></div>
    </div>
    <div class="row" id="results-container">
        <div class="col m4"></div>
        <div class="col m4">
            <h5 id="results-total"></h5>
        </div>
        <div class="col m4"></div>
    </div>

    <script>
        const query_elem = document.querySelector("#dmcaquery")
        const submit_elem = document.querySelector("#dmcasubmit")
        const results_total_elem = document.querySelector("#results-total")
        submit_elem.addEventListener("click", () => {
            const query = query_elem.value;
            $.ajax({
            type : "POST",
            url : "/lookup",
            data: JSON.stringify(query),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                    results_total_elem.innerHTML = result;
                }
            });
        });

        {#const processResults#}

    </script>
{% endblock content %}